node_modules
.pnpm-store
*.log
.DS_Store
*.tsbuildinfo
proto/gen

.gradle
jvm/build/
!jvm/gradle/wrapper/gradle-wrapper.jar
.kotlin
.idea/
*.iml
out/

lib
dist
/cache
/data
/temp
external

dynamic-bot/